AdvancedLibraryCpp/.qmake.stash
AdvancedLibraryCpp/libAdvancedLibraryCpp.a
AdvancedLibraryCpp/Makefile
AdvancedLibraryCpp/build*
AdvancedLibraryCpp/*.o
AdvancedLibraryCpp/moc*
AdvancedLibraryCpp/docs*
AdvancedLibraryCpp/AdvancedLibraryCpp.pro.user
AdvancedLibraryCpp/binaries/
AdvancedLibraryCpp/coverage/
build-AdvancedLibraryCpp-Desktop*
docs/
