AdvancedLibraryCpp/AdvancedLibraryCpp.pro.user
AdvancedLibraryCpp/.qmake.stash
AdvancedLibraryCpp/libAdvancedLibraryCpp.a
AdvancedLibraryCpp/Makefile
AdvancedLibraryCpp/build*
AdvancedLibraryCpp/*.o
AdvancedLibraryCpp/moc*

